DATABASE_URL=postgresql+psycopg2://postgres:nimda@localhost:5432/postgres

# run without these flags once to download it, then they stay set for all subsequent runs
HF_HUB_OFFLINE=1
TRANSFORMERS_OFFLINE=1

# Reduce CUDA memory fragmentation
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True
