# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
__pycache__
node_modules
.venv

# General extensions ignore
*.bkp
*.bak

# Project specific ignores
/data

.env*
!.env.example
uv.lock
