DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/dbname

# Used for admin authentication in the API, set this to a random string and use it as the password when logging in to the admin interface
X_API_KEY=123456
